/**
 *
 *
 * 1. Front end Single Organsime 
 * 2. Front End Grid Organisme  
 * 3. Front End maps 
 * 4. Inutiles -> test
 */

/*
1. Front end Single Organisme 
==================================================================== */
#sous_infos
{
}

#logo_contact
{
    width: 100%;
    margin-bottom: 20px;
}

#logo_organisme
{
    margin-right: 60%;
}

#contact_organisme
{
    margin-left: 40%;
}

#description_organisme
{
    margin-bottom: 20px;
}

#certifications_organisme
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#certifications_organisme li { display: inline; }



/*
2. Front end Grid Organisme 
==================================================================== */
#filtre_organismes 
{	margin: 0;
	padding: 0;
	list-style-type: none;
}

#filtre_organismes li 
{ 
    display: inline; 
}

.pagination_numeros
{	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagination_numeros li 
{ 
    display: inline; 
}

.pagination_numeros .page_courante
{
	font-weight: bold;
}

.arrowASC
{
    background-image: url('../img/arrowUp.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.arrowDESC
{
    background-image: url('../img/arrowDown.png');
    background-repeat: no-repeat;
    background-position: right center;
}

/*
 3. Front End maps 
 =================================================================================== */
#localisation, #localisations
{
    width: 100%;
    height: 300px;
    margin: 0px;
    margin-bottom: 20px;
}

#localisations
{
    height: 500px;
}

/*
 4. Inutiles
 ==================================================================================== */
.shortcode_organisme_brief-base
{
    background-color: red;
}

.shortcode_organisme_brief-perso
{
    background-color: green;
}
